-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: brokerwallet
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
-- 默认管理员（用户名: admin, 密码: admin123）
-- 密码哈希: SHA-256("admin123") = 240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9
INSERT INTO `admins` VALUES (1,'admin','240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9','默认管理员',NULL,'admin','ACTIVE','2025-10-15 10:00:00',NULL,NULL,NULL);
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nft_images`
--

LOCK TABLES `nft_images` WRITE;
/*!40000 ALTER TABLE `nft_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `nft_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `proof_files`
--

LOCK TABLES `proof_files` WRITE;
/*!40000 ALTER TABLE `proof_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `proof_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_accounts`
--

LOCK TABLES `user_accounts` WRITE;
/*!40000 ALTER TABLE `user_accounts` DISABLE KEYS */;
INSERT INTO `user_accounts` (`id`, `wallet_address`, `display_name`, `representative_work`, `show_representative_work`, `admin_approved_display`, `gold_medals`, `silver_medals`, `bronze_medals`, `total_proofs`, `total_nfts`, `verified_proofs`, `blockchain_sync_time`, `blockchain_gold_medals`, `blockchain_silver_medals`, `blockchain_bronze_medals`, `create_time`, `update_time`, `status`, `total_medals`) VALUES (6,'8c056ccb92c567da3fee27c23d4f2f107f203879','a','鍙ゅ彜鎬€?,1,0,29,3,4,0,0,0,'2025-10-10 15:51:05',29,3,4,'2025-09-18 16:09:35','2025-10-09 21:36:01','ACTIVE',36),(11,'38e1ef2285bec94b2602f239f2471004ebf120b4','efg','qaq',1,1,5,4,5,0,0,0,'2025-10-10 15:51:05',5,4,5,'2025-10-08 20:12:15','2025-10-09 21:40:24','ACTIVE',14);
/*!40000 ALTER TABLE `user_accounts` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-10 17:44:35
